<FlexLayout flexDirection="row">
    <TextField #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingrese texto..." required minLong="4"></TextField>
    <Label *ngIf="texto.hasError('required')" text="Campo Obligatorio" style="color: red;"></Label>
    <Label *ngIf="!texto.hasError('required') && texto.hasError('minLong')" text="muy corto" style="color: red;"></Label>
</FlexLayout>
<Button text="Buscar" (tap)="onButtonTap()"></Button>