<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <FlexLayout flexDirection="row">
        <TextField [(ngModel)]="textFieldValue" [hint]="nombreActual"></TextField>
    </FlexLayout>
    <Button text="Guardar" (tap)="onButtonTap('settings')"></Button>
</StackLayout>